@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500;700;800&display=swap');


button.menu-button {
    background: transparent;
    cursor: pointer;
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    direction: rtl; 
}


img {
    max-width: 100%;
}

img.site-logo {
    width: 119px;
    height: 120px;
    margin-left: 1rem;
}

header#site-header {
    box-shadow: 0px 5px 40px -10px rgba(65, 64, 64, 0.5);
    /* display: grid; */
    grid-template-columns: auto 1fr;
    padding: 1rem 5%;
    align-items: center;
}

nav.site-nav {
    display: block;
    width: auto;
    text-align: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #07348e;
}

nav.site-nav li {
    display: inline-block;
    margin-left: 1rem;
}

body {
    background: url(../images/bg.png);
    background-size: 100%;
}

.container {
    width: 90%;
    margin: 4rem 5%;
}

input#name, input#job , select {
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.grid-item {
    /* display: grid; */
    margin-bottom: 2.5rem;
    width: 100%;
    grid-template-columns: 1fr 3fr;
}


h3.section-title {
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    font-size: 24px;
    margin-bottom: 2rem;
}

.primary-btn {
    background: #7575ab;
    background-image: linear-gradient(to left, #19afe0  0%, #0c94c0 51%, #19afe0  100%);
    display: inline-block;
    padding: 8.5px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    border: 1px solid transparent;
}

.primary-btn:hover {
    background-position: right center;
}

.content-grid {
    /*display: grid;*/
    grid-template-columns: 2fr 1fr;
}



form.new-card-form {
    vertical-align: top;
    width: 50%;
    /* flex: 1; */
}

.images-slider {
    display: inline-block !important;
    width: 46%;
    vertical-align: top;
}

.owl-dots {
    position: absolute;
    bottom: 2rem;
    right: calc(50% - 24px);
    background: transparent;
} 

button.menu-button {
    background: transparent;
    cursor: pointer;
}

* {
    margin: 0px;
    /* border: 0px; */
    padding: 0px;
    box-sizing: border-box;
    font-family: kufi-reg;
    direction: rtl;
}


img {
    max-width: 100%;
}

img.site-logo {
    width: 150px;
    height: auto;
    margin-left: 1rem;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

header#site-header {
    box-shadow: 0px 5px 40px -10px rgba(65, 64, 64, 0.5);
    /* display: grid; */
    grid-template-columns: auto 1fr;
    padding: 1rem 5%;
    align-items: center;
}

nav.site-nav {
    display: block;
    width: auto;
    text-align: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #07348e;
}

nav.site-nav li {
    display: inline-block;
    margin-left: 1rem;
}

.container {
    width: 90%;
    margin: 0px 5%;
    padding: 4rem 2rem;
    background: #fff;
    box-shadow: 1px 2px 29px #77777752, -1px -2px 29px #7777776b;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-bottom: 2rem;
}

input#name, input#category , select {
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.grid-item {
    /* display: grid; */
    margin-bottom: 2.5rem;
    width: 100%;
    grid-template-columns: 1fr 3fr;
}

.grid-item label {
    /* flex: 1; */
    display: inline-block;
    /* margin-left: 1rem; */
}

h3.section-title {
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    font-size: 24px;
    margin-bottom: 2rem;
}

.primary-btn {
    background: #74c36d;
    background-image: linear-gradient(to left, #339499 0%, #056d72 50%, #006670 100%);
    display: inline-block;
    padding: 8.5px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    border: 1px solid transparent;
}

.primary-btn:hover {
    background-position: right center;
}

.content-grid {
    /*display: grid;*/
    grid-template-columns: 2fr 1fr;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    /* border: 1px solid #ccc; */
    /* box-shadow: 1px 2px 29px #77777752, -1px -2px 29px #7777776b; */
}



form.new-card-form {
    vertical-align: top;
    width: 100%;
    /* flex: 1; */
}

.images-slider {
    display: flex !important;
    width: 50% !important;
    border-radius: 10px;
    overflow: hidden;
}

.owl-dots {
    position: absolute;
    bottom: 2rem;
    right: calc(50% - 24px);
    background: transparent !important;
}

div#site-footer {
    position: relative;
    background: url(../images/footer.jpg);
}

div#site-footer * {
    position: relative;
    z-index: 1000;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

div#site-footer:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    opacity: 0.8;
    background: #333;
}

.error-message {
    background: #f68b8b;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.error-message:empty{display: none;}

.success-message {
    background: #056d72;
    color: #fff;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

img.preview-image {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    border: 1px solid #ccc;
    width: 400px;
}

@media screen and (max-width: 950px ){
  body form.new-card-form {
    width: 100%;
    margin: 2rem 0px;
    padding-left: 0px;
}

body p.credit{
    display: block;
    text-align: center;
}
body p.credit > span{
    display: block;
    margin-bottom: 0.5rem;
}
body .images-slider {
    width: 100%;
    flex: 1;
}

body .content-grid {
    display: block;
}
body .images-slider {display: block !important;flex: auto;     width: 100%;     margin: 0px auto;}

.primary-btn {
    display: block;
    margin: 1rem auto;
}
/* body .container{
  margin: 4rem 2%
} */
}




.table {
    display: table;
    min-height: 100vh;
    width: 100%;
}


.table-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding: 2rem 0px;
}


@media screen and (max-width: 450px){

body .design-item {
    margin: 1rem auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


    body p.credit{
            font-size: 13px;
    }

    body .container{
        padding: 2rem;
    }
    body .grid-item {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

body .grid-item label {
    display: block;
    margin-bottom: 1rem;
}

body .grid-item input {
    text-align: center;
}
}

@media screen and (max-width:  350px){


}

.design-item {
    display: inline-block;
    /* display: grid; */
    /* grid-template-columns: auto 1fr; */
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.design-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #ddd ,-1px -2px 3px #ddd;
    border: 1px solid #ccc;
}

.select-design {text-align: right;}

.design-item > * {
    vertical-align: middle;
}

.design-item label {
    margin-right: 0.5rem;
}

.grid-item.select-design-grid > * {
    grid-column: -1/1;
}

.grid-item.select-design-grid > label {
    margin-bottom: 2rem;
}

input#name , input#job {
    width: 300px;
    max-width: 100%;
}

.grid-item > label {
    margin-left: 1rem;
    width: 200px;
}

p.credit {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

img.small-logo {
    filter: brightness(100)invert(1);
    height: 30px;
    position: relative;
    top: 3px;
}

span.site-copyright * {
    display: inline-block;
    vertical-align: middle;
}


*{
    font-family: 'Tajawal', sans-serif;
}